.footer {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  font-size: large;
  font-weight: normal;
  padding: 0.5rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 100vw;
  bottom: 0;
  right: 0;
}
.footer__text {
  color: white;
  text-decoration: none;
}
.footer__text:hover {
  background-color: var(--orange);
  color: white;
  box-shadow: 3px 7px 4px 3px rgba(254, 103, 55, 0.2);
}
