@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --bold-font: ;
  --regular-font: ;
  --dark-blue: #211f41;
  --main-blue: #3f3e6d;
  --light-blue: #6561b6;
  --orange: #fe6737;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--main-blue);
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.container-genre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
